[data-codenut="accordion"] {
  position: relative;
}

.accordion {
  @include e("item") {
    margin-top: -1px;
    &:first-child {
      margin-top: 0;
    }
  }
  @include e("header") {
    background-color: #fff;
    border: 1px solid #bbb;
    > button {
      display: block;
      width: 100%;
      padding: .5rem;
      font-size: 1rem;
      text-align: left;
      background-color: transparent;
      border: 0;
    }
  }
  @include e("content") {
    display: none;
    height: 0;
    padding: 0 .5rem;
    overflow: hidden;
    font-size: rem(14px);
    line-height: 1.4;
    background-color: #f4f4f4;
    border: 1px solid #bbb;
    border-top: 0;
    &::before {
      display: block;
      height: .5rem;
      content: "";
    }
    &::after {
      display: block;
      height: .5rem;
      content: "";
    }
  }

  @include m("activated") {
    > .accordion__content {
      display: block;
      height: auto;
    }
  }
}
