[data-codenut="accordion"] {
  position: relative;
  .accordion {
    $block: ".accordion";
    @include e("item") {
      position: relative;
    }
    @include e("title") {
      width: 100%;
      line-height: 1;
      display: block;
    }
    @include e("content") {
      overflow: hidden;
      display: none;
    }

    @include m("activate") {
      #{$block}__content {
        display: block;
      }
    }
  }
}
