{% macro create(props, attrs) %}
<article data-codenut="accordion" data-model="{{props.model}}" {% if props.multiple %}data-multiple="true"{% endif%} {{attribs(attrs)}}>
  <ul class="accordion__menu">
    {% for item in props.item %}
    {% set activate = boolean(item.activate) %}
    <li class="accordion__item {% if activate %}accordion--activate {% endif %}">
      <a class="accordion__title" href="#">{{item.title | safe}}</a>
      <div class="accordion__content">{{item.content | safe}}</div>
    </li>
    {% endfor %}
  </ul>
</article>
{% endmacro %}