// Default
[data-codenut="pagination"] {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination {
  @include e("menu") {
    font-size: 0;
  }
  @include e("item") {
    display: inline-block;
  }

  @include e("link") {
    display: table-cell;
    vertical-align: middle;
  }
}

// Styling
.pagination--simple {
  .pagination__item {
    display: none;
  }
  .pagination__item.pagination__prev, .pagination__item.pagination__next {
    display: inline-block;
  }
}
