// Default
[data-codenut="pagination"] {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination {
  @include e("menu") {
    @include flexbox();
    @include align-items(center);
  }

  @include e("link") {
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    display: inline-block;
    vertical-align: middle;
  }
}

// Styling
.pagination--simple{
  .pagination__item{
    display: none;
  }
  .pagination__item.pagination__prev, .pagination__item.pagination__next{
    display: block;
  }
}
