$input-padding: rem(12px);
[data-codenut="textfield"] {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ced0da;
  border-radius: rem(6px);
  @include transition(border .2s ease-out);
  label {
    display: block;
    width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    > input {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
      padding: $input-padding;
      font-size: rem(14px);
      line-height: 1;
      color: #354052;
      background-color: transparent;
      border: 0;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
  &.textfield--focus {
    border-color: #377fb2;
  }
  &.textfield--error {
    border-color: #ed1c24 !important;
    .textfield__placeholder, input {
      color: #ed1c24 !important;
    }
  }
  &.textfield--success {
    border-color: #1bb934;
  }
}

.textfield {
  @include e("placeholder") {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: $input-padding;
    font-size: inherit;
    color: #adb0b5;
  }
}

.textfield--fill {
  .textfield__placeholder {
    display: none;
  }
}
