{% macro create(props, attribs) %}
<article data-codenut="textfield" {{arrtibs(attribs)}}>
  <label>
    <input type="{{props.type}}" name="{{props.name}}" value="{{props.value}}"
           {% if props.readonly %}readonly="readonly"{% endif %}
           {% if props.required %}required="required"{% endif %}
           {% if props.autocomplete %}autocomplete="true"{% endif %}
           {% if props.maxlength %}maxlength="{{props.maxlength}}"{% endif %}
           {% if props.disabled %}disabled="disabled"{% endif %}
    />
    <span class="textfield__placeholder">{{props.placeholder}}</span>
  </label>
  {% if props.slot.extra %}
  <div class="textfield__extra">
    {% slot props.slot.extra %}
    {% endslot %}
  </div>
  {% endif %}
</article>
{% endmacro %}
