// Default
[data-codenut="navigation"] {
  .navigation__mobile{
    display: none;
    @include e('button'){
      background: none;
      border: 0;
    }
  }
  .navigation__menu {
    list-style: none;
  }
}


// Styling
.navigation--horiz{
  & > .navigation__menu{
    white-space: nowrap;
    @include flexbox();
    & > .navigation__item{
      position: relative;
      .navigation__link{
        text-decoration: none;
      }
      & > .navigation__menu{
        position: absolute;
        display: none;
      }
    }
  }
}