// Default
[data-codenut="navigation"] {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  .navigation__menu {
    display: block;
    list-style: none;
  }
  .navigation__link {
    display: block;
  }
}

// Styling
