{% macro nested(item) %}
<li class="navigation__item{% if item.activate %} navigation--activate{% endif %}">
  <a href="{{item.link}}" class="navigation__link">{{item.title}}</a>
  {% if item.children|length %}
  <ul class="navigation__menu">
    {% for child in item.children %}
    {{ nested(child) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}

{% macro create(props, attribs) %}
<nav role="navigation" data-codenut="navigation" data-nav-model="{{props.type}}" {{arrtibs(attribs)}}>
  <div class="navigation__mobile">
    <button type="button" class="navigation__mobile__button"><i></i></button>
  </div>
  <ul class="navigation__menu">
    {% for child in props.item %}
      {% call nested(child) %}
      {% endcall %}
    {% endfor %}
  </ul>
</nav>
{% endmacro %}