{% macro nested(item) %}
<li class="navigation__item{% if item.activate %} navigation--activate{% endif %}">
  <a href="{{item.link}}" class="navigation__link">{{item.title | safe}}</a>
  {% if item.children|length %}
  <ul class="navigation__menu">
    {% for child in item.children %}
    {{ nested(child) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}

{% macro create(props, attrs) %}
<nav role="navigation" data-codenut="navigation" data-model="{{props.model}}" {{attribs(attrs)}}>
  {% slot props.slot.default %}{% endslot %}
  <ul class="navigation__menu">
    {% for child in props.item %}
      {% call nested(child) %}
      {% endcall %}
    {% endfor %}
  </ul>
  {% slot props.slot.extra %}{% endslot %}
</nav>
{% endmacro %}