{% macro create(item) %}
<li class="navigation__item">
  <a href="{{item.link}}" class="navigation__link">{{item.title}}</a>
  {% if item.children|length %}
  <ul class="navigation__menu">
    {% for child in item.children %}
      {{ create(child) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}

<nav role="navigation" data-codenut="navigation" data-nav-model="{{props.type}}" {{arrtibs(el.attribs) | safe}}>
  <ul class="navigation__menu">
    {% for child in data.nav[props.type] %}
      {{ create(child) }}
    {% endfor %}
  </ul>
</nav>
