[data-codenut="tab"] {
  position: relative;
}

.tab {
  @include e("menu") {
    position: relative;
    z-index: 1;

    @include flexbox();
    border-bottom: 1px solid #bbb;
    @include e("item") {
      position: relative;
      z-index: 2;
      margin-bottom: -1px;
      margin-left: -1px;
      overflow: hidden;

      &:first-child {
        margin-left: 0;
      }
    }

    @include e("link") {
      padding: .5rem 1rem .4rem;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid transparent;
      border-top-left-radius: rem(4px);
      border-top-right-radius: rem(4px);
    }

  }

  @include e("content") {
    margin-top: -1px;
    @include e("item") {
      display: none;
      padding: .8rem 1rem;
      line-height: 1.4;
      background-color: #fff;
      border: 1px solid #bbb;
      border-bottom-right-radius: rem(4px);
      border-bottom-left-radius: rem(4px);
    }

    .tab--activated {
      display: block;
    }
  }
  @include m("activated") {
    z-index: 12;
    .tab__menu__link {
      background-color: #fff;
      border: 1px solid #bbb;
      border-bottom-color: transparent;
    }
  }
}
