[data-codenut="textfield"] {
  label {
    input {
      color: map-get($color, 'black');
      border: 1px solid #dbdbdb;
      border-radius: rem(3px);
    }

    input, .textfield__placeholder {
      font-size: rem(16px);
      padding-left: rem(10px);
      padding-right: rem(10px);
      height: rem(36px);
      font-weight: 300;
      @include flexbox();
      @include align-items(center);
    }
  }
}

.textfield {
  @include e('placeholder') {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #bbb;
    z-index: 1;
    font-weight: 100;
  }
}

.textfield--fill {
  .textfield__placeholder {
    visibility: hidden;
  }
}