$font-base: 16px;
$font-family: 'Roboto', sans-serif;
$font-heading: (
  h1: 40px,
  h2: 36px,
  h3: 32px,
  h4: 28px,
  h5: 24px,
  h6: 20px,
) !default;

$breakpoint: (
  xs: 0,
  sm: 414px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$device: (
  mobile:"md",
  tablet:"lg",
) !default;

$icon-color:#626262;
