html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #424652;
}

.welcome {
  height: 100%;
  font-size: 0;
  text-align: center;
  img {
    height: 300px;
  }
}

.welcome::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.welcome > * {
  display: inline-block;
  vertical-align: middle;
}

.welcome h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 100;
  color: #fff;
}

.welcome a {
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
}
