html, body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #424652;
}
.welcome{
  font-size: 0;
  text-align: center;
  height: 100%;
}
.welcome::before{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.welcome > * {
  display: inline-block;
  vertical-align: middle;
}
.welcome h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.welcome a{
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
}
