{% macro create(props, attrs) %}
<article data-codenut="card" {{attribs(attrs)}}>
    <div class="card__wrap">
        {% if props.slot.header %}
        <div class="card__header">
            {% slot props.slot.header %}
            {% endslot %}
        </div>
        {% endif %}

        {% if props.slot.image %}
        <figure class="card__image">
            {% slot props.slot.image %}{% endslot %}
        </figure>
        {% endif %}
    </div>

    {% if props.slot.default %}
    <div class="card__content">
        {% slot props.slot.default %}
        {% endslot %}
    </div>
    {% endif %}

    {% if props.slot.extra %}
    <div class="card__extra">
        {% slot props.slot.extra %}
        {% endslot %}
    </div>

    {% slot props.slot.default %}{% endslot %}
    {% endif %}
</article>
{% endmacro %}