[data-codenut="effect"].effect--fade {
  .effect {
    @include e("overlay") {
      right: 0;
      bottom: 0;
      height: 100%;
      text-align: center;
      background-color: rgba(#fff, .86);
      @include opacity(0);
      @include transition(opacity .2s ease-out);
      &::after{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      & > *{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &:hover, &:focus {
    .effect__overlay {
      @include opacity(1);
    }
  }
}

[data-codenut="effect"].effect--zoom {
  img {
    @include transform(scale(1));
    @include transition(transform .4s);
  }
  .effect {

    @include e("overlay") {
      right: 0;
      bottom: 0;
      height: 100%;
      text-align: center;
      @include opacity(0);
      @include transition(opacity .2s ease-out);
      &::after{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      & > *{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &:hover, &:focus {
    img {
      @include transform(scale(1.2));
    }
    .effect__overlay {
      @include opacity(1);
    }
  }
}

[data-codenut="effect"].effect--tilt-up {
  .effect {
    @include e("overlay") {
      top: auto;
      bottom: 0;
      padding-left: 1rem;
      background-color: rgba(#fff, .86);
      @include transform(translate(0, 100%));
      @include opacity(0);
      @include transition(opacity .2s ease-out, transform .2s ease-out);
    }
  }
  &:hover, &:focus {
    .effect__overlay {
      @include opacity(1);
      @include transform(translate(0, 0));
    }
  }
}