// Default
[data-codenut="breadcrumb"] {
  position: relative;
}

.breadcrumb {
  @include e('list') {
    font-size: 0;
  }
  @include e('item') {
    display: inline-block;
    vertical-align: middle;
    a{
      text-decoration: none;
    }
  }
}

// Styling