{% macro create(props, attrs) %}
<article data-codenut="selectbox" {{attribs(attrs)}}>
  <label>
    <select name="{{props.name}}" class="selectbox__select"
            {% if(props.multiple) %}multiple="multiple"{% endif %}
            {% if(props.required) %}required="required"{% endif %}
            {% if(props.disabled) %}disabled="disabled"{% endif %}
    >
      <option value="" selected="selected" disabled="disabled">{{props.title}}</option>

    </select>
    <span class="selectbox__icon">
      {% slot props.slot.icon %}
      <i></i>
      {% endslot %}
    </span>
    <span class="selectbox__title">{{props.title}}</span>
  </label>
  {% slot props.slot.default %}{% endslot %}
</article>
{% endmacro %}