[data-codenut="checkbox"] {
  position: relative;
  display: inline-block;
  label {
    margin-bottom: 0;
    display: table;
    & > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
